#game{
    width: 100vw;
    height: 100vh;
    position: fixed;

    .startgame{
        position: absolute;
        transform-origin: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: auto auto;
        border: 1rem solid $light-green ;
        width: 80rem;
        height: 45rem;
        border-radius: 2rem;
        background-color: $board-green;
        display: grid;
        grid-template-rows: max-content 1fr;
        grid-gap: 2rem;
        padding-top: 10rem;
        // align-items: center;
        justify-content: center;

        .start{
            font-family: SnapITC;
            font-size: 8.7rem;
            text-align: center;
            color: $dark-grey;
        }
        .answers{
            // align-self: center;
            justify-self: center;
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 70%;
            justify-items: center;
            font-family: ShowGothic;
            color: $dark-grey;
            font-size: 5rem;
            border-top: 0.8rem solid $light-green;

            .yes,.no{
                transition: all 500ms ease-in-out;
            }
            .yes:hover,.no:hover{
                font-size: 10rem;
                cursor: pointer;
                color: $light-green;
            }


        }
    }
}



.game-background{
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.zoomin{
    transform-origin: center;
    animation: zoomin 500ms ease-in;
}

.hidden{
    transition: all 1s ease-in-out;
    opacity: 0;
    visibility: hidden;
    display: none;
  
}

.people{
    // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);
        margin: auto auto;

        //MEDIA QUERY NEEDED
        // margin-top: 35rem;
        margin-top: 40rem;
        border: 1rem solid $light-green ;
        
        // width: 80rem;
        width: 90rem;
        height: 45rem;
        border-radius: 2rem;
        background-color: $board-green;
        display: grid;
        grid-template-rows: 1fr 1fr 10rem;
        // align-items: center;
        //justify-content: center;

        .dealer-bar{
            // background-color: red;
            height: 100%;
            margin-left: 2rem;
            padding-top: 2rem;
            border-bottom: 0.3rem solid $light-green;
            display: grid;
            grid-template-columns: 12rem 1fr 6rem;

            svg{
                width: 10rem;
            }
            .dealer{
                border-right: 0.6rem solid $light-green;
            }
            .score{
                align-self: center;
                justify-self: center;
                font-family: Coegit;
                font-size: 5rem;
                color: white;
                -webkit-text-stroke-color: $light-green;
                -webkit-text-stroke-width: 0.3rem;
                letter-spacing: 0.6rem;
            }
        }
        .player-bar{
                // background-color: blue;
                height: 100%;
                margin-left: 2rem;
                border-top: 0.3rem solid $light-green;
                display: grid;
                grid-template-columns: 12rem 1fr 6rem;

                svg{
                    width: 10rem;
                    padding-top: 2rem;
                }
                .player{
                    border-right: 0.6rem solid $light-green;
                }
                .score{
                    align-self: center;
                    justify-self: center;
                    font-family: Coegit;
                    font-size: 5rem;
                    color: white;
                    -webkit-text-stroke-color: $light-green;
                    -webkit-text-stroke-width: 0.3rem;
                    letter-spacing: 0.6rem;
                }
                .carddiv{
                    margin-top: 0.5rem;
                }
        }
}
.actions{
        // background-color: yellow;
        height: 100%;
        margin: auto auto;


        .prebet, .postbet{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
            // background-color: blue;
            align-items: center;
            justify-items: center;
            padding-top: 2rem;

        }
        
}