@font-face {
    font-family: ShowGothic;
    src: url(../font/showg.ttf);
  }
@font-face {
    font-family: Coegit;
    src: url(../font/CoegitCompactBold.ttf);
  }
@font-face {
    font-family: SnapITC;
    src: url(../font/snapitc.ttf);
  }